Host bastionET2598
    User ubuntu
    Hostname 188.95.227.203
    IdentityFile ~/.ssh/id_rsa
    StrictHostKeyChecking no
    PasswordAuthentication no
   
Host HAproxy
    User ubuntu
    Hostname 188.95.231.249
    IdentityFile ~/.ssh/id_rsa
    StrictHostKeyChecking no
    PasswordAuthentication no
    
Host devA
    User ubuntu
    Hostname 10.1.0.162
    IdentityFile ~/.ssh/id_rsa
    ProxyJump bastionNSO
    StrictHostKeyChecking no
    PasswordAuthentication no
    
Host devB
    User ubuntu
    Hostname 10.1.0.132
    IdentityFile ~/.ssh/id_rsa
    ProxyJump bastionET2598
    StrictHostKeyChecking no
    PasswordAuthentication no
    
Host devC
    User ubuntu
    Hostname 10.1.0.172
    IdentityFile ~/.ssh/id_rsa
    ProxyJump bastionET2598
    StrictHostKeyChecking no
    PasswordAuthentication no
